@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

h1, h2 , h3 , h5, button {
     font-family: "Poppins", sans-serif;
}
h3{
    font-size: 30px;
    font-weight: 600;
}
p , a , h4 ,  li{
     font-family: "Inter", sans-serif;
}



@media(min-width: 992px) {
    h1{
        font-size: 64px;  
    }
    h3{
    font-size: 40px;
    font-weight: 700;
}

}